*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
    background-image: url(images/fondo.jpg);
    background-size: cover;
    /* object-fit: fill; */
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

ul{
    margin: 0;
    padding-left:0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.title{
    text-align: center;
    font-family: 'poppins';
    font-size: 2rem;
    text-shadow: 10px solid #1313131e;
    color: #fff;
    text-decoration: underline #3d3dff9a;
}

.container-activo{
    display:flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.container-none{
    display:none;
}

.windows{
    display: flex;
    position: relative;

    width: 540px;
    height: 280px;
    border-radius: 10px;
    overflow: hidden;
}

.windows__icon{
    display: grid;
    place-content: center;
    width: 40%;
    background-color: rgb(49, 49, 190);
}

.windows__text{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 60%;
 padding:0 1rem;


 font-family: 'lexend deca';
 background-color: rgb(243, 243, 226);
}

.windows__text > p {
    margin-top: .5rem;
    font-family: 'poppins';

}

.windows__text{
    text-align: center;
}

.main{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;

    padding: 0 2rem 1rem;
}

.main > strong{
    font-family: 'poppins';
    font-size: 2.5rem;
    text-shadow: 2px 2px #000;
    -webkit-text-stroke: 1px #5a5a5a;
    cursor: pointer;
}

.main > strong:hover{
    text-shadow: 4px 4px #000;
    
}

.paragrahp{
    max-width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6rem;
    color: #fff;
    font-family: 'lexend deca';

    animation-name: salto-colors;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 5s;
}

.deseo{
    color: purple;
}

.tip{
    color: yellow;
}

.frase{
    color: blue;
}


@keyframes salto-colors {
    10%{
        color: #fff;
    }

    40%{
        color: rgb(240, 240, 44);
    }

    70%{
        color: #fff;
    }

    100%{
        color: rgb(240, 240, 44);
    }
}