*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
    background-image: url(fondo.jpg);
    background-size: cover;



    /* object-fit: fill; */
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

ul{
    margin: 0;
    padding-left:0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.title{
    text-align: center;
    font-family: 'poppins';
    font-size: 2rem;
    color: #fff;
}

.container-activo{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    top: 0;
    left: 0;
    /* top: calc(50% - 30px);
    left: calc(50% - 150px); */

    width: 100%;
    height: 100%;
}

.container-none{
    display:none;
}

.windows{
    display: flex;
    position: relative;

    width: 540px;
    height: 280px;
    border-radius: 10px;
    overflow: hidden;
}

.windows__icon{
    width: 40%;
    background-color: rgb(49, 49, 190);

}

.windows__text{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

 font-family: 'lexend deca';
 width: 60%;
 background-color: rgb(243, 243, 226);
}

.windows__text > p {
    margin-top: .5rem;
    font-family: 'poppins';

}

.main{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;

    padding: 0 2rem 1rem;
    border: 1px solid white;
}

.main > strong{
    font-family: 'poppins';
    font-size: 2.5rem;
    text-shadow: 2px 2px #000;
    -webkit-text-stroke: 1px #5a5a5a;
}

.paragrahp{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    color: #fff;
    font-family: 'lexend deca';
}

.deseo{
    /* position: relative;
    top: 10%;
    left: calc(50% - 83px); */
    color: purple;
}

.tip{
    /* position: relative;
    top: 30%;
     left: 0; */
    color: yellow;
    align-self: flex-end; 
}

.frase{
    /* position: relative;
    top: 70%;
    left: -30px; */
    color: blue;
}